@model Proyecto_Final_DSWI.Models.Funciones

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Funciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_funcion" class="control-label"></label>
                <input asp-for="id_funcion" class="form-control" />
                <span asp-validation-for="id_funcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_sala" class="control-label"></label>
                <select asp-for="id_sala" asp-items="@ViewBag.salas" class="form-select"></select>
                <span asp-validation-for="id_sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_pelicula" class="control-label"></label>
                <select asp-for="id_pelicula" asp-items="@ViewBag.peliculas" class="form-select"></select>
                <span asp-validation-for="id_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_funcion" class="control-label"></label>
                <input asp-for="fecha_funcion" class="form-control" />
                <span asp-validation-for="fecha_funcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_inicio" class="control-label"></label>
                <input asp-for="hora_inicio" class="form-control" />
                <span asp-validation-for="hora_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
