@model Proyecto_Final_DSWI_Front.Models.Dulceria

@{
    ViewData["Title"] = "Create";
}

<link href="@Url.Content("~/css/create.css")" rel="stylesheet" />

<h1>Create</h1>
<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h4>Dulcería</h4>
        </div>
        <hr />
        <div class="form-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="sn-form in-flex">
                    <div class="item in-flex" hidden>
                        <input asp-for="id_producto" />
                        <label asp-for="id_producto"></label>
                        <span asp-validation-for="id_producto"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="nombre_producto" placeholder=" " />
                        <label asp-for="nombre_producto"></label>
                        <span asp-validation-for="nombre_producto"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="precio_producto" placeholder=" " />
                        <label asp-for="precio_producto"></label>
                        <span asp-validation-for="precio_producto"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="marca_producto" placeholder=" " />
                        <label asp-for="marca_producto"></label>
                        <span asp-validation-for="marca_producto"></span>
                    </div>
                </div>
                <div class="cont-submit">
                    <input type="submit" value="Create" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
