@model Proyecto_Final_DSWI_Front.Models.Peliculas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Peliculas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="id_pelicula" class="control-label"></label>
                <input asp-for="id_pelicula" class="form-control" />
                <span asp-validation-for="id_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre_pelicula" class="control-label"></label>
                <input asp-for="nombre_pelicula" class="form-control" />
                <span asp-validation-for="nombre_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director_pelicula" class="control-label"></label>
                <input asp-for="director_pelicula" class="form-control" />
                <span asp-validation-for="director_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero_pelicula" class="control-label"></label>
                <input asp-for="genero_pelicula" class="form-control" />
                <span asp-validation-for="genero_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duracion_minutos" class="control-label"></label>
                <input asp-for="duracion_minutos" class="form-control" />
                <span asp-validation-for="duracion_minutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idioma_pelicula" class="control-label"></label>
                <input asp-for="idioma_pelicula" class="form-control" />
                <span asp-validation-for="idioma_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clasificacion_pelicula" class="control-label"></label>
                <input asp-for="clasificacion_pelicula" class="form-control" />
                <span asp-validation-for="clasificacion_pelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
