@model Proyecto_Final_DSWI_Front.Models.Peliculas

@{
    ViewData["Title"] = "Edit";
}

<link href="@Url.Content("~/css/create.css")" rel="stylesheet" />

<h1>Edit</h1>
<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h4>Películas</h4>
        </div>
        <hr />
        <div class="form-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="sn-form in-flex">
                    <div class="item in-flex" hidden>
                        <input asp-for="id_pelicula"  />
                        <label asp-for="id_pelicula"></label>
                        <span asp-validation-for="id_pelicula"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="nombre_pelicula" placeholder=" " />
                        <label asp-for="nombre_pelicula"></label>
                        <span asp-validation-for="nombre_pelicula"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="director_pelicula" placeholder=" " />
                        <label asp-for="director_pelicula"></label>
                        <span asp-validation-for="director_pelicula"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="genero_pelicula" placeholder=" " />
                        <label asp-for="genero_pelicula"></label>
                        <span asp-validation-for="genero_pelicula"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="duracion_minutos" placeholder=" " />
                        <label asp-for="duracion_minutos"></label>
                        <span asp-validation-for="duracion_minutos"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="idioma_pelicula" placeholder=" " />
                        <label asp-for="idioma_pelicula"></label>
                        <span asp-validation-for="idioma_pelicula"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="clasificacion_pelicula" placeholder=" " />
                        <label asp-for="clasificacion_pelicula"></label>
                        <span asp-validation-for="clasificacion_pelicula"></span>
                    </div>
                </div>
                <div class="cont-submit">
                    <input type="submit" value="Save" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
