@model Proyecto_Final_DSWI_Front.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<link href="@Url.Content("~/css/create.css")" rel="stylesheet" />

<h1>Create</h1>
<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h4>Clientes</h4>
        </div>
        <hr />
        <div class="form-body">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="sn-form in-flex">
                    <div class="item in-flex" hidden>
                        <input asp-for="id_cliente" />
                        <label asp-for="id_cliente"></label>
                        <span asp-validation-for="id_cliente"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="dni_cliente" placeholder=" " />
                        <label asp-for="dni_cliente"></label>
                        <span asp-validation-for="dni_cliente"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="nombres_cliente" placeholder=" " />
                        <label asp-for="nombres_cliente"></label>
                        <span asp-validation-for="nombres_cliente"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="apellido_pat_cliente" placeholder=" " />
                        <label asp-for="apellido_pat_cliente"></label>
                        <span asp-validation-for="apellido_pat_cliente"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="apellido_mat_cliente" placeholder=" " />
                        <label asp-for="apellido_mat_cliente"></label>
                        <span asp-validation-for="apellido_mat_cliente"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="num_celular_cliente" placeholder=" " />
                        <label asp-for="num_celular_cliente"></label>
                        <span asp-validation-for="num_celular_cliente"></span>
                    </div>
                </div>
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input asp-for="correo_cliente" placeholder=" " />
                        <label asp-for="correo_cliente"></label>
                        <span asp-validation-for="correo_cliente"></span>
                    </div>
                </div>
                <div class="cont-submit">
                    <input type="submit" value="Create" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
